[Unit]
Description=Frawst.com intranet dashboard

[Service]
Type=simple
User=dash
WorkingDirectory=/srv/dash
ExecStart=/path/to/bundle exec ./dash.rb

[Install]
WantedBy=multi-user.target
