[Unit]
Description=Frawst.com intranet dashboard

[Service]
Type=simple
User=daniel
WorkingDirectory=/home/daniel/dash
ExecStart=/home/daniel/.rvm/bin/dash_bundle exec ./dash.rb

[Install]
WantedBy=multi-user.target
